fastapi
python-multipart
uvicorn[standard]
sqlalchemy>=2.0.0
psycopg2-binary
pydantic-settings
email-validator
alembic
pytest
httpx<0.28
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
twilio
anthropic
requests
